.header-container {
    margin-left: 30px;
    margin-right: 100px;
    margin-top: -20px;
}


.header-title {
    font-size: 27px;
    color: #212529;
    font-weight: bold;
    font-family: monospace;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px;
}


.navbar-items li a {
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
    color: #212529;
    text-decoration: none;
}

.navbar-items button {
    border: none;
    background-color: transparent;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-right: 5px; 
}

.navbar-items button:hover {
    background-color:rgb(226, 230, 234);
}

.navbar-items button:active {
    background-color: rgb(215, 219, 223);
    color: rgba(72, 72, 176, 0.872);
}


.navbar-items ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-items li {
    list-style-type: none;
    /* text-align: center;
    position: relative; */
}