.header-container {
    margin-left: 30px;
    margin-right: 100px;
    margin-top: -35px;
}

.header-title {
    margin-right: auto;
    text-align: left;
    font-size: 27px;
    color: #212529;
    font-weight: bold;
    font-family: monospace;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px;
}

.navbar-items li a {
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
    color: #212529;
    text-decoration: none;
}

.navbar-items button {
    border: none;
    background-color: transparent;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-right: 5px; 
}

.navbar-items button:hover {
    background-color:#e2e6ea;
}

.navbar-items button:active {
    background-color: #d7dbdf;
    color: #4848b0de;
}


.navbar-items ul {
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar-items li {
    list-style-type: none;
    /* text-align: center;
    position: relative; */
}

@media (max-width: 768px) {
    .header-content {
        padding: 20px;
        /* padding: 10px; */
    }

    .navbar-items {
        /* margin-left: auto; */
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #f8f9fa;
    }

    .navbar-items.show-menu {
        display: flex;
    }

    .header-title {
        margin-right: auto;
        margin-left: -80px;
    }

    .navbar-items ul {
        flex-direction: column;
        /* flex-direction: row; */
    }

    .navbar-items li {
        margin-bottom: 10px;
    }

    .navbar-toggle {
        /* margin-left: auto; */
        display: block;
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: 20px;
        color: #212529;
        font-family: monospace;
        text-align: right;
        margin-right: -160px;
        margin-top: -20px;
    }
}

@media (min-width: 800px) {
    .navbar-toggle {
        display: none;
    }
    .navbar-items {
        display: flex;
    }
}

/* @media (max-width: 1439) {
    
} */


/* desktop - 1440
    tablet - (1439 - 1270)
    tablet v2 - (1269 - 1024)
    h phone - 1023 - 876
    v phone - 875 - 400
    phone - 399
*/