/* .header-container {
    margin-left: 100px;
    margin-right: 100px;
} */


.header-title {
    font-size: 27px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}


.navbar-items a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-items button {
    background-color: transparent;
    border-radius: 5px;
    width: 100px;
    /* margin-right: 5px; */
}

.navbar-items ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-items li {
    list-style-type: none;
}