.card {
    justify-content: center;
    display: flex;
    align-self: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
    width: 80%;
    margin: 60px auto 0;
    padding: 20px;
    margin-top: 60px;
}

.content {
    flex: 2;
    font-size: 17px;
    text-align: left;
    font-family: monospace;
    padding-top: 10px;
    padding-right: 20px;
    /* padding-bottom: 20px; */
}

.content h3 {
    margin-top: -15px;
}

.Img {
    flex: 1;
    padding-left: 5px;
    border: 1px solid white;
    border-radius: 50%;
    margin-bottom: 20px;
    max-width: 30%;
    height: auto;
    max-height: 300px;

    /* width: 100px;
    height: auto; */
    /* max-width: 100%; */
    /* max-width: 30%;
    height: auto;  */
}

.Img img {
    display: block;
    margin: 0 auto;
}

.card_button {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* padding: 5px; */
}

.card_button button {
    width: 120px;
    height: 30px;
    
    border-radius: 5px;
    font-family: monospace;
    font-weight: bolder;
    font-size: 15px;
}

.about_button {
    border: transparent;
    background-color: #5e7ab3;
    border: 1px solid #5e7ab3;
    color: rgb(255, 255, 255);
    transition: background-color 0.1s ease;
}

.projects_button {
    border: 0.5px solid #b8b8ba;
    color: black;
    background-color: transparent;
    transition: background-color 0.1s ease;
}

/* note note */
/* about button hover active */
.about_button:hover {
    background-color: #5771a4;
}
.about_button:active {
    background-color: #1c3f73;
}

/* note note */
/* projects button hover and active */
.projects_button:hover {
    background-color: #f2f2f2;
}
.projects_button:active {
    background-color: #c7c7c9;
}


@media (max-width: 600px) {
    .card {
        width: 90%;
    }

    .content {
        font-size: 15px;
        padding-right: 10px;
    }

    .card_button button {
        width: 100px;
    }
}